@import "../_mixins.scss/Mixins.scss";
@import "../_variables.scss/Variables.scss";

.contenaire-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  .description-image_landscape {
    box-sizing: border-box;
    margin: auto;
    object-fit: cover;
    @include flex-center;
    height: 30rem;
  }
  .description_title {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: blue;
    // background-color: antiquewhite;
    width: 40%;
    margin-bottom: 5rem;
  }
  .contenaire-texts {
    display: flex;
    flex-direction: column;
    margin-right: 7rem;
    margin-left: 7rem;

    h2 {
      @include title-h2;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .description_text {
    font-size: large;
    width: 100%;
    text-align: justify;
    margin-bottom: 2rem;
  }
  .description-image_screenshot {
    height: auto;
    margin: auto 2rem;
    cursor: pointer;
  }

  .contenaire_buttons {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;

    button {
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: blue;
      font-size: 1.5rem;
      padding: 2rem;
    }
    :active {
      background-color: green;
    }
    .description_link {
      background-color: rgb(36, 68, 212);
      margin-top: 4rem;
      font-size: 2rem;
    }
    .description_link2 {
      background-color: rgb(57, 242, 91);
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .contenaire-description {
    height: auto;

    .contenaire-texts {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    .contenaire_buttons {
      display: flex;
      width: 15%;
      justify-content: center;
      flex-direction: column;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

@media (max-width: $layout-breakpoint-medium) {
  .contenaire-description {
    height: auto;
    .contenaire-texts {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .description_title {
      color: blue;
      width: auto;
      margin-bottom: 2rem;
    }
    .contenaire_buttons {
      gap: 0%;
    }
  }
}
