@import "../_variables.scss/Variables.scss";

.hero_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  margin-left: 15%;
  height: auto;
  width: 80%;

  .hero_image {
    border-radius: 50%;
    border-style: none;
    height: auto;
    width: 40%;
    position: relative;
    top: 2rem;
  }
}

.hero_texts {
  display: flex;
  flex-direction: column;

  .hero_title {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
  }
  .hero_subtitle {
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    font-style: oblique;
  }
  .hero_text {
    margin-bottom: 1.4rem;
    font-size: larger;
  }

  .hero_button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}

.hero_links {
  display: flex;
  gap: 4rem;
  cursor: pointer;
  a {
    font-size: xxx-large;
    padding: 2rem;
  }
  :hover {
    color: deeppink;
  }
}

@media (max-width: $layout-breakpoint-medium) {
  .hero_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    width: auto;
    gap: 4rem;
    text-align: justify;
    margin: 6rem 1rem;
  }
  .hero_button {
    margin-top: 1rem;
    justify-content: center !important ;
  }
  .hero_links {
    justify-content: space-around;
    gap: 0;
  }
  a {
    font-size: x-large;
    padding: 1rem;
  }
}
@media (max-width: $layout-breakpoint-small) {
  .hero_text .hero_subtitle {
    font-size: auto;
    p {
      margin-bottom: 1.4rem;
      font-size: larger;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
}

@media (max-width: 500px) {
  .hero_links {
    a {
      font-size: large;
      padding: 0rem;
    }
  }

  .hero_container .hero_image.hero_image {
    width: 90%;
  }
}

@media (min-width: 2000px) {
  .hero_texts {
    position: relative;
    top: 23rem;
  }
}
